image: hashicorp/terraform:1.6.2

pipelines:
  branches:
    main:
      - step:
          name: "Terraform Format & Validate"
          script:
            - terraform init
            - terraform fmt -check
            - terraform validate

      - step:
          name: "Terraform Apply"
          trigger: manual
          script:
            - export AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID
            - export AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY
            - terraform init
            - terraform apply

      # - step:
      #     name: "Terraform Destroy"
      #     trigger: manual
      #     script:
      #       - export AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID
      #       - export AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY
      #       - terraform init
      #       - terraform destroy -auto-approve
